<h1><%= link_to "Films", root_path, class: "logo" %> <%= link_to "+", new_film_path, class: "add-link" %></h1>
<hr/>

<ul>
    <% @films.each do |film| %>
        <li>
            <%= link_to film.title, film %>
        </li>
    <% end %>
</ul>